body {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-family: sans-serif;
}
#bord, #lobby {
	position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#bord {
	background-size: cover!important;
}
#lobby {
	background: url(img/lobby1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	transition: all 2s;
}
.content {
	width: 100%;
	height: 100vh;
	position: relative;
}
.behind {
	margin-left: -3000px;
}
#main-table {
	position: absolute;
    width: 300px;
    left: calc(50% - 181px);
    text-align: center;
    background: rgba(255,255,255,.9);
    padding: 50px 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all .5s;
}
#version {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 12px;
}
#create-game {
	margin-top: 40px;
}
.btn {
	margin: 10px auto;
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    background: #8cca4f;
    border: 1px solid #aaa;
    border-radius: 5px;
    transition: all .5s;
    color: #fff;
    text-shadow: 1px 1px 3px #777;
    cursor: pointer;
}
.btn:hover {
	background: #7aaf46;
}
.btn-md {
	max-width: 300px;
}
.hidden {
	display: none;
}
table {
	min-width: 100%;
}
#your-room-table {
	min-width: auto;
    width: 230px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-left: 0;
    font-size: 16px;
    font-weight: 500;
}
#your-room-table li {
	background: #fff;
	border-radius: 0 100px 100px 0;
	margin-bottom: 15px;
	display: flex;
}
#your-room-table img {
	width: 80px;
	height: 80px;
	margin: 5px;
}
.pl-status {
	font-size: 14px;
	color: #c18b10;
}

/*========================*/
#deck, #stock {
	top: 35%;
    left: 0;
    height: 190px;
    width: 135px;
    padding: 0;
    background: #962f2f;
    border: 2px solid #333;
    font-size: 55px;
    text-align: center;
    text-shadow: 0 0 3px #fff;
    line-height: 3.5;
    transform: rotate(330deg);
}
#deck, .turn-mark { cursor: pointer; }

#player_1 {
	bottom: 15px;
    left: 5%;
    width: 90%;
    height: 200px;
}
.cards-container {
	display: flex;
    justify-content: center;
    padding-right: 100px;
}
#opponents {
	width: 90%;
    height: auto;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.opp-zone {
	position: relative;
	padding: 15px;
    background: rgba(255,255,255,.8);
    transition: all 1s;
}
.opp-zone p { margin-bottom: 5px 0; }
.opp-card {
	width: 15px;
    height: 22px;
    background: #555;
    margin: 2px;
    display: inline-block;
}
.opp-card:nth-child(1){
	margin-left: 95px;
}
.col-1 { min-width: 300px; }
.col-2 { width: calc(50% - 40px); }
.col-3 { width: calc(33% - 40px); }
.col-4 { width: calc(25% - 40px); }
.col-5 { width: calc(20% - 40px); }

.opp-zone.active {
	background: #c18b10;
	animation: eye 3s ease-in-out infinite;
    -webkit-animation: eye 3s ease-in-out infinite;
}

#opponents .avatar {
    width: 80px;
    height: 80px;
    background: #ccc;
    float: left;
    margin-right: 15px;
}
#opponents .cards-container {
	display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    justify-content: space-around;
    padding: 10px 0;
}
.shirt {
	background: #ccc;
	border:10px solid #ccc;
	width: 25px;
    height: 40px;
}
.turn-mark {
	position: absolute;
    bottom: 130px;
    right: 20px;
    background: gray;
    border: 2px solid #555;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.turn-mark.active {
	background: #10c316;
	border-color: #fff;
	animation: eye 3s ease-in-out infinite;
    -webkit-animation: eye 3s ease-in-out infinite;
}

.more {
	position: absolute;
	left: -150px;
	width: 100px;
	height: 50px;
	top: calc(50% - 25px);
}

#kon {
	top: 30%;
    left: calc(50% - 100px);
    height: 200px;
    width: 200px;
}
#kon .card {
	margin: auto;
    display: block;
    width: 135px;
    height: 190px;
    padding: 0;
    font-size: 75px;
    position: absolute;
    left: calc(50% - 60px);
    line-height: 2.4;
    cursor: default;
}

#stock {
	left: auto;
	right: 15px;
}

.game_zone {
	position: absolute;
	padding: 15px;
	overflow-y: visible;
}

.card {
	width: 65px;
    height: 85px;
    background: #ccc;
    text-align: center;
    font-size: 45px;
    margin: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    padding-top: 20px;
    font-weight: 700;
    line-height: 1.3;
    cursor: pointer;
    transition: all .3s;
}
.card:hover { margin-top: 0; }

#deck, .card, .opp-zone {
	box-shadow: 3px 3px 20px #333;
	border-radius: 5px;
}

.pink {background: radial-gradient(circle at 30px 30px, #b74082, #6b0c41);}
.blue {background: radial-gradient(circle at 30px 30px, #3379b5, #1f486b);}
.green {background: radial-gradient(circle at 30px 30px, #10c316, #0c8810);}
.yellow {background: radial-gradient(circle at 30px 30px, #c18b10, #8a630b);}

.deck_img {
	width: 100%;
	background: aliceblue;
	text-align: center;
	font-size: 70px;
	padding: 30px 0;
	color: #ccc;
}

.inGameTip {
	position: absolute;
    bottom: 250px;
    left: 0;
    width: auto;
    text-align: center;
    background: #fff;
    padding: 5px 20px 5px 10px;
    color: #333;
    display: none;
    font-size: 14px;
}
.tipContent {
	display: flex;
    align-items: center;
}
.inGameTip span {
	font-size: 25px;
    font-weight: 900;
    color: darkorange;
    border: 2px solid;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 1.1;
    margin-right: 20px;
}

#popTip {
	position: absolute;
	top: calc(50% - 50px);
	width: 100%;
	padding: 30px 0;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	background: #fff;
	box-shadow: 0 0 25px 10px #fff;
	display: none;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }
   [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: max-content;
    min-width: 150px;
    left: 0;
    top: -3em;
    background: #fff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    text-shadow: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #333;
    color: #333;
    z-index: 100;
    padding: 15px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
   } 
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: -2em; /* Положение подсказки */
   }

.visible {
	display: block;
}

@keyframes eye {
    0% { box-shadow: 0 0 10px #fff }   
    50% { box-shadow: 0 0 50px #fff }
    100% { box-shadow: 0 0 10px #fff }
}
@-webkit-keyframes eye {
	0% { box-shadow: 0 0 10px #fff }   
    50% { box-shadow: 0 0 50px #fff }
    100% { box-shadow: 0 0 10px #fff }
}